[includeIf "gitdir:~/workspace/personal/"] # personal configuration for all projects in Personal/
path = ~/.gitconfig.personal

[includeIf "gitdir:~/dotfiles/"] # personal configuration for all projects in Personal/
path = ~/.gitconfig.personal


[includeIf "gitdir:~/workspace/work/"] # work configuration for all projects in Work/
path = ~/.gitconfig.work

[core]
excludesfile = ~/.gitignore # Ignore the files indicated in .gitignore
