# inside ~/.gitconfig
[includeIf "gitdir:~/workspace/personal/"] # personal configuration for all projects in Personal/
path = ~/.gitconfig.personal
[includeIf "gitdir:~/dotfiles/"] # personal configuration for all projects in Personal/
path = ~/.gitconfig.personal

[includeIf "gitdir:~/workspace/work/"] # work configuration for all projects in Work/
path = ~/.gitconfig.work

[includeIf "gitdir:~/workspace/work/boundary/"] # work configuration for all projects in Work/
path = ~/.gitconfig.work2

[core]
excludesfile = ~/.gitignore
[init]
	defaultBranch = main
